@import '~amsterdam-stijl/dist/scss/ams-colorpalette';

@supports (display: flow-root) {
  .cf {
    display: flow-root;
  }
}

@supports not (display: flow-root) {
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }
}

a.stelselpediaLink {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: rgba($ams-donkerblauw, 0.5);
  color: white;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 15px;

  &:hover {
    background-color: $ams-donkerblauw;
    color: white;
  }
}

article h3:not(:first-of-type) {
  margin-top: 30px;
}
