@import '~amsterdam-stijl/dist/scss/ams-mixins';

.global-error {
  background-color: #ec0000;
  color: white;
  padding: 11px 60px 11px 20px;
  display: flex;

  & > p {
    margin: 0;
    float: left;
    max-width: calc(100% - 30px);
  }

  &__close-button {
    height: 25px;
    margin-left: 10px;
    width: 25px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    float: right;

    .label {
      @include visuallyhidden;
    }
  }
}
