.has-focus {
  outline: 4px solid #ffc90e;
  margin: 0;
  padding: 0 0 0 15px;
  background-color: #ffc90e !important;
  color: #000 !important;
}

.links li {
  line-height: 22px;
}

.links li > a {
  padding-left: 12px;
}
